@use "./variables" as *;

/* Action btn */

.btn {
  width: 8rem;
  height: 2.4rem;
  color: white;
  background-color: $mid-gray;
  font-size: inherit;
  font-weight: $fw-bold;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  transition: border $t-x1;

  &-add-enabled {
    background-color: $twitch-purple;
  }
}

.btn:active {
  background-color: $carafe;
}

.btn:disabled:active {
  background-color: $mid-gray;
}

.btn {
  &-header {
    background-color: $white;
    color: $carafe;
    border: 2px solid $mid-gray;
  }

  &-header:hover {
    border-color: $carafe;
  }

  &-header:active {
    background-color: $carafe;
    color: $white;
  }
}

.btn {
  &-reset {
    background-color: $dark-rose-red;
  }
}

/* Delete btn */

.btn-delete {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: $mid-gray;
  display: grid;
  place-content: center;
}

.btn-delete:hover {
  background-color: $dark-rose-red;
}

.btn-delete:active {
  background-color: $carafe;
}
