/* Colors */

$white: #ffffff;
$mid-gray: #aeaeae;
$light-gray: #f1f1f1;

$dark-rose-red: #c60b43;
$carafe: #4e1a3d;
$twitch-purple: #9146ff;

/* Transform timing */

$t-x1: 200ms;

/* Typography */

$fw-regular: 400;
$fw-bold: 700;

$font-main: "Roboto", sans-serif;
